@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --font-header: "Space Mono", monospace;
  --font-body: "Winky Sans", sans-serif;
  --font-post: "Lora", serif;

  --color-alpha: #9f8f68;
  --color-alpha--light: #f5f3ef;

  --color-black: #0a0a0a;
  --color-grey: #f8f9f9;
  --color-white: #fff;

  --mq-xs: 20em;
  --mq-sm: 30em;
  --mq-md: 54em;
  --mq-lg: 64em;
  --mq-xl: 76.5em;
  --mq-xxl: 114em;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: 100%;
  line-height: 1.6;
}

@media (min-width: 20em) {
  body {
    font-size: 102.5%;
  }
}

@media (min-width: 30em) {
  body {
    font-size: 105%;
  }
}

@media (min-width: 54em) {
  body {
    font-size: 107.5%;
  }
}

@media (min-width: 64em) {
  body {
    font-size: 110%;
  }
}

@media (min-width: 76.5em) {
  body {
    font-size: 115%;
  }
}

@media (min-width: 114em) {
  body {
    font-size: 125%;
  }
}

h1,
h2 {
  margin: 0;
  font-family: var(--font-header);
  color: #9f8f68;
}

h1 {
  font-size: 3em;
}

@media (min-width: 54em) {
  h1 {
    font-size: 3em;
  }
}

@media (min-width: 76.5em) {
  h1 {
    font-size: 3.5em;
  }
}

p {
  margin: 0 0 0.75em;
}

a {
  color: var(--color-black);
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}

a:hover,
a:active,
a:focus {
  color: var(--color-alpha);
}

figure {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

::selection {
  color: var(--color-white);
  background-color: var(--color-alpha);
  text-shadow: none;
}

body {
  background-color: var(--color-grey);
}

section {
  position: relative;
}

[class*="__container"] {
  position: relative;
  z-index: 1;
}

.previews {
  display: flex;
  flex-direction: column;
}

@media (min-width: 54em) {
  .previews {
    flex-direction: row;
  }
}

.previews > *:first-child {
  position: relative;
  height: 30em;
  background-color: var(--color-black);
}

@media (min-width: 54em) {
  .previews > *:first-child {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 45%;
  }
}

.previews > *:first-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.4s ease-in-out;
}

.previews > *:last-child {
  min-height: 100vh;
}

@media (min-width: 54em) {
  .previews > *:last-child {
    margin-left: 45%;
  }
}

/**
     * Blog Post Preview
     */
.previews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 2em;
  color: var(--color-white);
}

.previews__container span {
  font-family: var(--font-body);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.preview {
  padding: 30px;
  transition: background-color 0.2s ease-in-out;
}

.preview:nth-child(even) {
  background-color: var(--color-white);
}

.preview:hover {
  background-color: var(--color-alpha--light);
}

.preview:hover .preview__more {
  box-shadow: inset 175px 0 0 0 var(--color-alpha);
  color: var(--color-white);
}

.preview__img {
  will-change: opacity;
  animation: fade-in 1s both;
}

.preview__link {
  display: block;
  padding: 2em 1em;
}

@media (min-width: 54em) {
  .preview__link {
    padding: 4em 4em;
  }
}

@media (min-width: 114em) {
  .preview__link {
    padding-left: 10em;
    padding-right: 10em;
  }
}

.preview__date {
  font-family: var(--font-header);
  color: var(--color-black);
}

.preview__header {
  color: var(--color-alpha);
  margin-bottom: 0.5em;
}

.preview__excerpt {
  color: var(--color-black);
}

.preview__more {
  display: inline-block;
  padding: 0.5em;
  font-family: var(--font-header);
  color: var(--color-alpha);
  border: 3px solid var(--color-alpha);
  box-shadow: inset 0 0 0 0 var(--color-alpha);
  transition: all 0.4s ease-in-out;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  will-change: opacity;
  animation: fade-in 2s both;
}

.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.images {
  border: 1px solid #ddd;
  border-radius: 20%;
  padding: 0px;
  width: 50px;
  height: 50px;
}

.intro {
  display: flex;
  flex-direction: row;
  margin: 5px;
  gap: 20px;
}

.profile_img {
  width: 200px;
  height: 300px;
  border-radius: 8px;
}

.intro_container {
  width: 200px;
}
